<div class="row">
  <!-- Spacing Descriptions -->
  <div class="col-lg-12">
    <div class="display-4 mb-1">Spacing</div>
    <p class="paragraph">The organization of space is key to every great design. Spatial systems, grids, and layouts
      provide rules that give your designs a consistent rhythm,
      constrain decision making, and help teams stay aligned. This foundational scaffolding is a requirement for all
      design systems. In this guide,
      we’ll walk through the basics of defining spatial base units, creating relationship rules with grids, and bringing
      it all together for modern UI layouts.</p>
    <hr class="solid my-4">
  </div>
  <!-- Spacing Descriptions -->
      <!-- Spacing Measures -->
  <div class="col-lg-12">
    <div class="h5">Measures</div>
    <p class="paragraph">All spacing for components and typography is done in increments of 4 pixels. 
      This 4 px value forms the basic unit of measurement for spacing.</p>
    <figure class="figure">
      <img src="./assets/img/spacing-measures.png" class="img-fluid border-1px-black" width="80%" alt="spacers">
      <figcaption class="figure-caption text-center">Spacing measures</figcaption>
    </figure>
  </div>
    <!-- Spacing Measures -->
  <!-- Spacing Types -->
  <div class="col-lg-12">
    <div class="h5">Spacing types</div>
    <p class="paragraph">We use 5 types of space to get consistent rhythm throughout all our screens.</p>
    <figure class="figure">
      <img src="./assets/img/spacers.png" class="img-fluid border-1px-black" alt="spacers">
      <figcaption class="figure-caption text-center">Spacing list</figcaption>
    </figure>
  </div>
  <!-- Spacing Types -->
  <!-- How to choose spacing -->
  <div class="col-lg-12">
    <div class="h5">How to choose spacing</div>
    <p class="paragraph">
      Use less space between small components, or components that share a close functional relationship.
    </p>
    <figure class="figure">
      <img src="./assets/img/smallspace.png" class="img-fluid border-1px-black" alt="spacers">
      <figcaption class="figure-caption text-center">related elements</figcaption>
    </figure>
    <p class="paragraph">
      Use more space between large components, or between components which are less functionally related.
    </p>
    <figure class="figure">
      <img src="./assets/img/largespace.png" class="img-fluid border-1px-black" alt="spacers">
      <figcaption class="figure-caption text-center">less related elements</figcaption>
    </figure>
    <hr class="solid my-4">
  </div>
  <!-- How to choose spacing -->
  <!-- Common values -->
  <div class="col-lg-12">
    <div class="h2">Common values</div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-7">
      <div class="h5">Space between sections</div>
      <p><b>40px</b> between different sections</p>
    </div>
    <div class="col-lg-5">
      <figure class="figure">
        <img src="./assets/img/common-sections.png" class="img-fluid border-1px-black" alt="spacers">
        <figcaption class="figure-caption text-center">Between sections</figcaption>
      </figure>
    </div>
    <hr class="solid my-4">
  </div>
  <!-- Common values -->
  <!-- Breakpoints & Devices  -->
  <div class="col-lg-12">
    <div class="h2">Devices & Breakpoints</div>
  </div>
  <div class="col-lg-12">
    <figure class="figure">
      <img src="./assets/img/devices-breakpoints.jpg" class="img-fluid border-1px-black" alt="spacers">
      <figcaption class="figure-caption text-center">Devices and breakpoints</figcaption>
    </figure>
  </div>
  <!-- Breakpoints & Devices  -->
</div>